@use "@material/theme" with (
  $primary: #6200EE,
  $secondary: #FEDBD0,
  $on-primary: #FFFFFF,
  $on-secondary: #442b2d,
);
@use "@material/typography/mdc-typography";
@use "@material/button/styles";
@use "@material/button" ;
@use "@material/icon-button" ;
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/image-list/mdc-image-list";
@use "@material/image-list";
@use "@material/card";
@use "@mdi/font/css/materialdesignicons.min.css";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/icon-button/styles" as icon-button-styles;
@use "@material/elevation/mdc-elevation";
@use "@material/snackbar/mdc-snackbar";
@use "@material/dialog";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles" as selectStyles;
@use "@material/textfield/helper-text";
@use "@material/checkbox";
@use "@material/form-field";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/drawer";
@use "@material/list";
@use "@material/list/mdc-list";
@use "@material/data-table/data-table";
@use "@material/textfield/character-counter";

@include character-counter.character-counter-core-styles;

@include data-table.core-styles;
@include data-table.theme-baseline;

@include card.core-styles;
@include textfield.core-styles;
@include dialog.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;
@include helper-text.helper-text-core-styles;
@include checkbox.core-styles;
@include form-field.core-styles;

//noinspection CssUnknownTarget
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');
@import 'include-media';

hr {
    @extend .mdc-deprecated-list-divider;
}

.mdc-dialog__actions {
    gap: 8px;
}

.mdc-image-list {
    &.posts-list {
        @include media ("<=phone"){
            @include image-list.standard-columns(1);
        }
        @include media (">phone", "<=tablet"){
            @include image-list.standard-columns(3);
        }
        @include media (">tablet"){
            @include image-list.standard-columns(5);
        }
    }

    .mdc-image-list__image {
        border-radius: 8px;
    }

    &.mdc-image-list--with-text-protection .mdc-image-list__supporting {
        border-radius: 0 0 8px 8px;
        margin-bottom: 3px;
    }
}

.mdi {
    font-size: 24px;
}

.mdc-button .mdi.mdc-button__icon {
    line-height: 1;
}

.mdc-icon-button .mdi.mdc-button__icon {
    vertical-align: top;
    line-height: 1;
}

.small-button{
    @include button.density(-3);
}
.small-icon-button{
    @include icon-button.density(-3);

    .mdi{
        font-size: 18px;
        line-height: normal;
    }
}

.mdc-layout-grid {
    width: 100%;
}

html {
    @for $i from 1 through 6 {
        --mdc-typography-headline#{$i}-font-family: EB Garamond, serif;
        h#{$i} {
            font-family: var(--mdc-typography-headline#{$i}-font-family);
        }
    }
    --mdc-typography-body1-font-family: Roboto, sans-serif;
    font-family: var(--mdc-typography-body1-font-family);
}

/*.mdc-deprecated-list-item {
    margin: 4px 0;
}*/

/*.mdc-deprecated-list-item__text {
    margin-left: 30px;
}*/

/*li > .mdc-deprecated-list-item__primary-text {
    margin: 0 0 2px 30px;
}*/

.mdc-deprecated-list-item__secondary-text {
    margin-bottom: 1rem;
}

.mdc-deprecated-list-item__meta .mdc-icon-button__ripple {
    --mdc-ripple-fg-size: 28px;
    --mdc-ripple-fg-scale: 1.71429;
    --mdc-ripple-left: 10px;
    --mdc-ripple-top: 10px;
}

:root {
    --mdc-theme-primary: #6200EE;
    --mdc-theme-secondary: #FEDBD0;
    --mdc-theme-background: #fff;
    --mdc-theme-surface: #fff;
    --mdc-theme-error: #b00020;
    --mdc-theme-text-primary-on-background: #000d;
    --mdc-theme-text-icon-on-background: #00000060;
    --mdc-theme-outline-color: #e0e0e0;
}
/*@media (max-width: 599px) {
    .mdc-image-list{
        @include image-list.standard-columns(3);
    }
}

.mdc-image-list {
    @include image-list.standard-columns(3);
}*/

