@use "@material/button/styles";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/image-list/mdc-image-list";
@use "@material/image-list";
@use "@material/card";
@use "@mdi/font/css/materialdesignicons.min.css";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/icon-button/styles" as icon-button;
@use "@material/elevation/mdc-elevation";
@use "@material/snackbar/mdc-snackbar";
@use "@material/dialog";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles" as selectStyles;


.mdc-image-list {
    &.posts-list {
        @include image-list.standard-columns(5);
    }

    .mdc-image-list__image {
        border-radius: 8px;
    }

    &.mdc-image-list--with-text-protection .mdc-image-list__supporting {
        border-radius: 0 0 8px 8px;
        margin-bottom: 5px;
    }
}

.mdc-button i.mdi.mdc-button__icon {
    line-height: 1;
}

#login-card {
    margin: auto;
    width: 30%;
    padding: 16px;
}

#login-button{
    float: right;
}

#dateofbirthsignup{

}

.mdc-layout-grid {
    width: 100%;
}

.mdc-elevation--z8 {
    border-radius: 50%;
}

#edit-profile-button {
    margin: 5% 0 0 7%;
}

#temporary-image {
    width: 170px;
}

#preview-image {
    display: flex;
    justify-content: center;
    align-content: center;
}

#preview-image > span {
    display: flex;
    align-items: center;
}

.dialog-label {
    font-size: 15px;
}

#attachments-display {
    margin-left: 2px;
}

#edit-image {
    display: none;
}

#dialog-layout {
    margin: 8px 0; align-items: center;
}

@include card.core-styles;
@include textfield.core-styles;
@include dialog.core-styles;
