@use "_mdc";
@import 'modern-normalize/modern-normalize.css';
@import "include-media";

@import "home";
@import "profile";
@import "post";
@import "language";
@import "notification";
@import "authentication";
@import "settings";

main > div:first-of-type {
    margin: 16px;
}

#page-title {
    text-align: center;
}

.container-card {
    @include media("<tablet"){
        width: 90%;
    }
    @include media(">=tablet"){
        width: 40%;
    }
    padding: 16px;
    margin: 16px auto !important;
}
