@use "_mdc";
@import 'modern-normalize/modern-normalize.css';

.mdc-select#language {
    margin-top: 16px;
}

.language-list, .mdc-select#language {
    .mdc-deprecated-list-item__graphic {
        width: 32px;
        margin-right: 0;
    }
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    form.auth-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.auth-card {
    width: 30%;
    padding: 16px;
}

#dateofbirthsignup{
    width: 46%;//?????? non è come gli altri
}

#edit-profile-button, #follow-button, #unfollow-button {
    margin: 5% 0 0 7%;
}

#temporary-image {
    width: 128px;
    margin-left: 2px;
}

#preview-image {
    display: flex;
    justify-content: center;
    align-content: center;
}

#preview-image > span {
    display: flex;
    align-items: center;
}

.dialog-label {
    font-size: 15px;
}

#edit-image {
    display: none;
}

#dialog-layout {
    margin: 8px 0; align-items: center;
}

#edit-bio {
    width: 100%;
}

.image-profile {
    border-radius: 50%;
    width: 200px;
}

.error-dialog {
    color: red;
}
/*
// Note: These styles do not account for any paddings/margins that you may need.

.drawer {
    display: flex;
    height: 100vh;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

main {
    overflow: auto;
    height: 100%;
}

.app-bar {
    position: absolute;
}*/

#user-logout-menu {

    text-align: center;

    --mdc-menu-min-width: 20em;

    img {
        width: 150px;
        border-radius: 50%;
    }

    hr {
        margin: 16px 0 8px;
    }

    .mdi {
        vertical-align: text-bottom;
    }
}

.icon-drawer {
    font-size: 20px;
}

.list-follower-image {
    border-radius: 50%;
    width: 40px;
}

.dialog-icon {
    font-size: 40px;
}

.mdc-deprecated-list-item a {
    text-decoration: none;
    color: black;
    display: contents;
}

.without-ripple {
    cursor: default !important;
}

#all-notifications-button {
    margin-left: 35%;
}

.read-notification {
    color: black;
}

#card-notifications {
    width: 50%;
    margin: 20px 0 0 25%;
}

main > :first-child {
    margin: 16px;
}
