@use "_mdc";
@import 'modern-normalize/modern-normalize.css';
@import "include-media";

@import "home";
@import "profile";
@import "post";
@import "language";
@import "notification";
@import "authentication";
@import "settings";

main > div:first-of-type {
    margin: 16px;
}

#page-title {
    text-align: center;
}

.container-card {
    @include media("<tablet"){
        width: 90%;
    }
    @include media(">=tablet"){
        width: 40%;
    }
    padding: 16px;
    margin: 16px auto !important;
}

#user-logout-menu {
    min-height: 100px;
    min-width: 150px;
    height: auto;
    overflow-y: hidden;
    width: 18em;
}

#user-logout-menu {
    --mdc-menu-min-width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20% 0;

    hr {
        margin: 16px 0 8px;
    }

    .mdi {
        vertical-align: text-bottom;
    }
}

#user-logout-menu-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-size: 150px;
}
